<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container bg-color mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
        <%= image_tag set_image(@user.user_image.url, 'default.png'), class: 'icon' , id: :img_prev , size: '90x90' %>
        <div class="form-group">
          <%= f.label 'ユーザーアイコン' %> <br />
          <%= f.file_field :user_image, placeholder:"アイコン", id: :user_iamge %>
        </div>
        <p><%= f.check_box :remove_user_image %>画像を削除する</p>

        <script type="text/javascript">
          $(function() {
           function readURL(input) {
             if (input.files && input.files[0]) {
               var reader = new FileReader();
               reader.onload = function (e) {
                 $('#img_prev').attr('src', e.target.result);
               }
               reader.readAsDataURL(input.files[0]);
             }
           }
           $("#user_iamge").change(function(){
             readURL(this);
           });
          });
        </script>

        <div class="form-group">
          <%= f.label 'ユーザー名' %>　<span class="badge badge-danger">必須</span>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'メールアドレス' %>　<span class="badge badge-danger">必須</span>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label '電話番号' %>　<span class="badge badge-secondary">任意</span>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>

        <div class="field  form-group">
          <%= f.label '住所' %>　<span class="badge badge-secondary">任意</span>
          <%= f.email_field :user_address, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label '備考' %>　<span class="badge badge-secondary">任意</span>
          <%= f.text_area :remark, class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit t('.update'), class: 'btn btn-primary' %>
        </div>
      <% end %>

      <h3><%= t('.cancel_my_account') %></h3>

      <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger' %></p>

      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>
