<%= form_with(model: [matter, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-row">
      <div class="form-group col-md-8">
        <%= form.text_area :content, class: 'form-control', placeholder: "コメント内容を入れてください" %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit 'コメントする',  class: 'btn btn-primary' %>
    </div>
  </form>
<% end %>
