<% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <span>
      <%= visitor.name %>さんが
      <% case notification.action %>
        <%  when 'favorite' then %>
          <%= link_to 'あなたの投稿', notification.matter, style: "font-weight: bold;" %>
            にいいねしました
        <% when 'comment' then %>
          <% if notification.matter.user_id == visited.id %>
            <%= link_to "あなたの案件", matter_path(notification.matter_id), style: "font-weight: bold;" %>
              にコメントしました
          <% else %>
            <span>
              <%= link_to notification.matter do %>
                <%= notification.matter.user.name %>さんの案件
              <% end %>
                にコメントしました
            </span>
          <% end %>
        <% end %>
      <div>
        <%= time_ago_in_words(notification.created_at).upcase %>
        <% if notification.checked == false %>
          <span class="badge badge-warning">未確認</span>
        <% else %>
          <span class="badge badge-secondary">確認済み</span>
        <% end %>
      </div>
  </span>
<% end %>
