<div class="container">
  <h3>お知らせ</h3>
  <div class="row rounded p-2" id = "information">
    <div id="informations_area">
        <%= render partial: 'informations/index', locals: { informations: @informations } %>
    </div>
  </div>
  <% if current_user.admin? %>
    <%= render partial: 'informations/form', locals: { information: @information } %>
  <% end %>

  <div class="row">
    <div class="col-12 m-2">
      <%= link_to new_matter_path do %>
        <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus-circle"></i>新規案件</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 bg-color">
      <%= render 'matter_search', search: @search %>
    </div>
    <div class="col-md-9 bg-color">
      <table width="100%" >
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="30%">タイトル</th>
            <th width="10%">進捗状況</th>
            <th width="15%"><%= sort_link(@search, :priority, '優先順位') %></th>
            <th width="15%"><%= sort_link(@search, :created_at, '作成日時') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @matters.each do |matter| %>
            <% if matter.status == "未着手" %>
              <tr class="matter bg-warning">
            <% elsif matter.status =="工事中" %>
              <tr class="matter bg-danger">
            <% else %>
              <tr class="matter bg-secondary">
            <% end %>
                <td width="7%"><%= image_tag set_image( matter.user.user_image.url, 'default.png'), class: 'icon', size: '48x48' %></td>
                <td width="34%"><%= matter.title.truncate(18) %></td>
                <td width="10%"><%= matter.status %></td>
                <td id='priority_row' width="10%" ><%= matter.priority %></td>
                <td width="15%"><%= matter.created_at.strftime('%Y/%m/%d') %></td>
                <td width="2%"><i class="fas fa-thumbs-up fa-2x"></i></td>
                <td width="2%"><%= matter.favorites.count %></td>
                <td width="2%">
                  <%= link_to matter do%>
                    <i class="fas fa-file-alt fa-2x"></i>
                    <% end %>
                </td>
                <% if (matter.user_id == current_user.id) || (current_user.admin == true) %>
                  <% if (matter.latest_sender != current_user.name) && (matter.latest_sender != nil) %>
                    <td width="3%" class="bg-color"><i class="far fa-envelope fa-2x"></i></td>
                  <% end %>
                <% else %>
                    <td width="3%" class="bg-color"></td>
                <% end %>
              </tr>
          <% end %>
          <%= paginate @matters %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<br>
