<p id="notice"><%= notice %></p>

<div id="informations_area">
    <%= render partial: 'informations/index', locals: { informations: @informations } %>
</div>
<%= render partial: 'informations/form', locals: { information: @information } %>

<h1>Matters</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3 bg-light">
      <%= render 'matter_search', search: @search %>
    </div>
    <div class="col-md-9 bg-light">
      <table width="100%" >
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="30%">Title</th>
            <th width="10%">Status</th>
            <th width="15%"><%= sort_link(@search, :priority, '優先順位') %></th>
            <th width="15%"><%= sort_link(@search, :created_at, '作成日時') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @matters.each do |matter| %>
            <% if matter.status == "未着手" %>
              <tr class="matter bg-warning">
            <% elsif matter.status =="工事中" %>
              <tr class="matter bg-danger">
            <% else %>
              <tr class="matter bg-secondary">
            <% end %>
                <% if matter.user.user_image.present? %>
                  <td width="7%"><%= image_tag matter.user.user_image.url, class: 'icon' %></td>
                <% else %>
                  <td width="7%"><i class="fas fa-user-circle fa-3x" aria-hidden="true"></i></td>
                <% end %>
                <td width="30%"><%= matter.title %></td>
                <td width="10%"><%= matter.status %></td>
                <td id='priority_row' width="5%" ><%= matter.priority %></td>
                <td width="15%"><%= matter.created_at.strftime('%Y/%m/%d') %></td>
                <td width="3%"><i class="fas fa-thumbs-up fa-2x"></i></td>
                <td width="3%"><%= matter.favorites.count %></td>
                <td width="3%"><%= link_to 'Show', matter %></td>
                <td width="3%"><%= link_to 'Edit', edit_matter_path(matter) %></td>
                <td width="3%"><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% if (matter.user_id == current_user.id) || (current_user.admin == true) %>
                  <% if (matter.latest_sender != current_user.name) && (matter.latest_sender != nil) %>
                    <td width="3%" class="bg-light"><i class="far fa-envelope fa-2x"></i></td>
                  <% end %>
                <% else %>
                    <td width="3%" class="bg-light"></td>
                <% end %>
              </tr>
          <% end %>
          <%= paginate @matters %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<br>

<%= link_to 'New Matter', new_matter_path %>
