<div class="container mt-3">
  <h3 class="map text-center">案件箇所マップ</h3>
  <p class="map text-center">※<span class="text-warning">未着手(黄色)</span>、<span class="text-danger">工事中(赤)</span>のみマッピングしています。</p>
  <div class="row">
      <div id="map"></div>
  </div>
  <% if current_user.admin? %>
    <h2 class="mt-3">お知らせ
        <button class="btn btn-secondary float-right information" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-plus"></i>
        </button>
    </h2>
  <% end %>
  <div class="row rounded p-2" id = "information">
    <div id="informations_area">
        <%= render partial: 'informations/index', locals: { informations: @informations } %>
    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%= render partial: 'informations/form', locals: { information: @information } if current_user.admin?%>
    </div>
  </div>


  <div class="row">
    <div class="col-12 m-2">
      <%= link_to new_matter_path do %>
        <button type="button" class="btn btn-primary float-right" id="new"><i class="fas fa-plus-circle"></i>新規案件</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 bg-color">
      <%= render 'matter_search', search: @search %>
    </div>
    <div class="col-md-9 bg-color">
      <table width="100%" >
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="30%" class="text-center">タイトル</th>
            <th width="10%" class="text-center">進捗状況</th>
            <th width="15%" class="text-center"><%= sort_link(@search, :priority, '優先順位') %></th>
            <th width="15%" class="text-center"><%= sort_link(@search, :created_at, '作成日時') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @matters.each do |matter| %>
            <% if matter.status == "未着手" %>
              <tr class="matter bg-warning">
            <% elsif matter.status =="工事中" %>
              <tr class="matter bg-danger">
            <% else %>
              <tr class="matter bg-secondary">
            <% end %>
                <td width="7%"><%= image_tag set_image(matter.user.icon, 'default.png'), class: 'icon mx-auto', size: '48x48' %></td>
                <td width="34%"><%= matter.title.truncate(18) %></td>
                <td width="10%" class="text-center"><%= matter.status %></td>
                <td id='priority_row' width="10%" class="text-center" ><%= matter.priority %></td>
                <td width="15%" class="text-center"><%= matter.created_at.strftime('%Y/%m/%d') %></td>
                <td width="2%"><i class="fas fa-thumbs-up fa-2x"></i></td>
                <td width="2%"><%= matter.favorites.count %></td>
                <td width="2%">
                  <%= link_to matter do%>
                    <i class="fas fa-file-alt fa-2x"></i>
                    <% end %>
                </td>
                <% if (matter.user_id == current_user.id) || (current_user.admin == true) %>
                  <% if (matter.latest_sender != current_user.name) && (matter.latest_sender != nil) %>
                    <td width="3%" class="bg-color"><i class="far fa-envelope fa-2x"></i></td>
                  <% end %>
                <% else %>
                    <td width="3%" class="bg-color"></td>
                <% end %>
              </tr>
          <% end %>
          <%= paginate @matters %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  height: 400px;
  width: 900px;
}
</style>
<body>
<!-- 地図を表示する div 要素（id="map"）-->
<script>
  var map;
function initMap() {
  var myLatlng = new google.maps.LatLng(35.893867,139.633587);
 //インスタンスを作成
 map = new google.maps.Map(document.getElementById('map'), {
  //地図のオプション
  //初期のズームレベル
  zoom: 7,
  //地図の中心点
  center: myLatlng
 });
 //マーカーの初期プロパティを指定
 <% @matters.each do |matter| %>
  <% if matter.latitude.present? && matter.status != "工事完了" %>
      (function(){
        var contentString = '<%= link_to matter.title.truncate(8), matter  %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= matter.latitude %>, lng: <%= matter.longitude %>},
            map: map,
            title: contentString,
            <% if matter.status == '未着手' %>
              icon: "https://maps.google.com/mapfiles/ms/micons/yellow-dot.png"
            <% else %>
              icon: "https://maps.google.com/mapfiles/ms/micons/red-dot.png"
            <% end %>
        });

        infowindow.open(map, marker);

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
       })();
    <% end %>
  <% end %>
}
google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['APIKEY']%>&callback=initMap" async defer></script>
