<div class="container bg-color">
  <%= render 'matter_show', matter: @matter %>
  <% if @matter.latitude.present? %>
    <div id="map"></div>
  <% end %>

  <p>
    <span>
      <div id="favorites_buttons_<%= @matter.id %>">
        <%= render partial: 'favorites/favorite', locals: { matter: @matter} %>
      </div>
    </span>
    <span>
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-comments"></i>
      </button>
    </span>
  </p>

  <div class="collapse " id="collapseExample">
    <div class="card card-body">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, matter: @matter } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, matter: @matter } %>
    </div>
  </div>


  <%= link_to 'Edit', edit_matter_path(@matter) %> |
  <%= link_to 'Back', matters_path %>

</div>
<style>
#map {
  height: 400px;
  width: 600px;
}
</style>


<script>
  var map;
function initMap() {
  var latitude = <%= @matter.latitude %>
  console.log(latitude);
  var longitude = <%= @matter.longitude %>
  var myLatlng = new google.maps.LatLng(latitude, longitude);
 map = new google.maps.Map(document.getElementById('map'), {
  zoom: 12,
  //地図の中心点
  center: myLatlng
 });
 marker = new google.maps.Marker({
  position: myLatlng,
  draggable: false,
  map: map,
 });
}
google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['APIKEY']%>&callback=initMap" async defer></script>
