<div class="container bg-color">
  <div class="row m-0">
    <div class="ml-auto ">
      <% if current_user == @matter.user || current_user.admin? %>
        <%= link_to edit_matter_path(@matter) do %>
          <i class="fas fa-edit fa-2x"></i>
        <% end %>
        <%= link_to @matter, method: :delete, data: { confirm: '本当に削除しますか？' } do %>
          <i class="fas fa-trash-alt fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-10">
      <h5 class="font-weight-bold">要望内容</h5>
      <p><%= @matter.content %></p>
      <% if @matter.labels %>
        <p>
          <% @matter.labels.each do |label| %>
            <span class="badge badge-info" ><%= label.name %></span>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-12">
      <h5 class="font-weight-bold">写真ファイル</h5>
      <% if @matter.images.attached? %>
        <% @matter.images.each do |image| %>
          <%=  link_to image, 'data-lightbox': image do %>
            <%= image_tag image.variant(resize:'100x100').processed  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @matter.images.present? %>
        <p>※クリックしたら拡大できます。</p>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row m-0 py-4 show">
    <div class="col-md-3">
      <h5 class="font-weight-bold">進捗状況:
        <% if @matter.status == "未着手" %>
          <span class="badge badge-warning"><%= @matter.status %></span>
        <% elsif @matter.status == "工事中" %>
          <span class="badge badge-danger"><%= @matter.status %></span>
        <% else %>
          <span class="badge badge-secondary"><%= @matter.status %></span>
        <% end %>
        </h5>

    </div>

    <div class="col-md-3">
        <h5 class="font-weight-bold">緊急度:<span><%= @matter.priority %></span></h5>
    </div>
  </div>

  <% if @matter.latitude.present? %>
    <div class="row m-0 py-4">
      <div class="col-md-3">
        <h5 class="font-weight-bold">場所</h5>
      </div>
    </div>
    <div class="row m-0">
      <div id="map"></div>
    </div>
    <div class="row m-0 py-4 show">
      <div class="col-md-4">
        <p>緯度:<%= @matter.latitude %></p>
      </div>

      <div class="col-md-4">
        <p>経度:<%= @matter.longitude %></p>
      </div>
    </div>
  <% end %>

  <% if @matter.remark? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-10">
        <h5 class="font-weight-bold">備考</h5>
        <p><%= @matter.remark %></p>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
  <p>※以下は管理者のみ表示されます</p>
    <div class="row m-0">
      <div class="col-md-3">
        <h5 class="font-weight-bold">工事完了メール</h5>
      </div>
    </div>
    <div class="row m-0 py-4 show">
      <div class="col-md-4">
        <h5>
          <% if @matter.mail_status == "未送信" %>
            <span class="badge badge-warning"><%= @matter.mail_status %></span>
          <% else %>
            <span class="badge badge-secondary"><%= @matter.mail_status %></span>
          <% end %>
        </h5>
      </div>

      <div class="col-md-4">
        <p class="font-weight-bold"><%= "完了メール送信予定" if @matter.send_email %></p>
      </div>
    </div>

    <% if @matter.start_time? %>
      <div class="row m-0 py-4 show">
        <div class="col-md-4">
          <h5 class="font-weight-bold">工事開始日</h5>
          <p><%= @matter.start_time.strftime('%Y/%m/%d') %></p>
        </div>
    <% end %>
    <% if @matter.end_time? %>
        <div class="col-md-3">
          <h5 class="font-weight-bold">工事終了日</h5>
          <p><%= @matter.end_time.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
    <% end %>

  <% end %>

  <p>
    <span>
      <div id="favorites_buttons_<%= @matter.id %>">
        <%= render partial: 'favorites/favorite', locals: { matter: @matter} %>
      </div>
    </span>
    <span>
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-comments"></i>
      </button>
    </span>
  </p>

  <div class="collapse " id="collapseExample">
    <div class="card card-body">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, matter: @matter } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, matter: @matter } %>
    </div>
  </div>

</div>
<style>
#map {
  height: 400px;
  width: 600px;
}
</style>


<script>
  var map;
function initMap() {
  var latitude = <%= @matter.latitude %>
  console.log(latitude);
  var longitude = <%= @matter.longitude %>
  var myLatlng = new google.maps.LatLng(latitude, longitude);
 map = new google.maps.Map(document.getElementById('map'), {
  zoom: 12,
  //地図の中心点
  center: myLatlng
 });
 marker = new google.maps.Marker({
  position: myLatlng,
  draggable: false,
  map: map,
 });
}
google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['APIKEY']%>&callback=initMap" async defer></script>
