<%= form_with(model: @matter, url: admin_matter_url(@matter), local: true) do |form| %>
  <% if @matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matter.errors.count, "error") %> prohibited this @matter from being saved:</h2>

      <ul>
      <% @matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_area :priority %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_area :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.text_area :end_time %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
