<p id="notice"><%= notice %></p>

<h1>Matters</h1>
<%= column_chart Matter.group_by_day_of_week(:created_at, format: "%a").count %>
<%= render 'matter_search', search: @search %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th><%= sort_link(@search, :priority, '優先順位') %></th>
      <th><%= sort_link(@search, :created_at, '作成日時') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td><%= matter.title %></td>
        <td><%= matter.status %></td>
        <td id='priority_row'><%= matter.priority %></td>
        <td><%= matter.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to 'Show', admin_matter_path(matter.id) %></td>
        <td><%= link_to 'Edit', edit_admin_matter_path(matter.id) %></td>
        <td><%= link_to 'Destroy', admin_matter_path(matter.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
