
<h3>タイトル</h3>
<%= @matter.title %>
<h3></h3>
<%= @matter.content %>
<h3>住所</h3>
<%= @matter.address%>
<h3>進捗</h3>
<%= @matter.status%>
<h3>優先度</h3>
<%= @matter.priority%>
<h3>予定開始日</h3>
<%= @matter.start_date%>
<h3>工事完了日</h3>
<%= @matter.completion_date%>
<h3>備考</h3>
<%= @matter.remark%>

<%= link_to '編集する', edit_admin_matter_path(@matter.id) %>
