<%= form_with model: information do |form| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(information.errors.count, "error") %> prohibited this information from being saved:</h2>
      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group">
      <h5><span class="badge badge-warning">変更中</span></h5>
      <%= form.text_area :content, class: 'form-control'  %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit '変更する', class: 'btn btn-warning' %>
  </div>
<% end %>
