  <%= form_with model: information, url: informations_path  do |form| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(information.errors.count, "error") %> prohibited this information from being saved:</h2>
      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label 'お知らせを追加する' %>
      <%= form.text_area :content, class: 'form-control'  %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit '追加する', class: 'btn btn-primary' %>
  </div>
<% end %>
