<%= form_with(model: @user, url: admin_user_url(@user), local: true) do |form| %>
  <% if @user.errors.any? %>
    <div class="container">
      <div id="error_explanation"class="alert alert-danger" role="alert">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="container mt-5 bg-color">
  <div class="row">
    <div class="col-md-8 mx-auto">
        <%= image_tag set_image(@user.icon, 'default.png'), class: 'icon' , id: :img_prev , size: '90x90' %>
        <div class="form-group">
          <%= form.label 'ユーザーアイコン' %> <br />
          <%= form.file_field :icon, id: :icon %>
        </div>

        <script type="text/javascript">
          $(function() {
           function readURL(input) {
             if (input.files && input.files[0]) {
               var reader = new FileReader();
               reader.onload = function (e) {
                 $('#img_prev').attr('src', e.target.result);
               }
               reader.readAsDataURL(input.files[0]);
             }
           }
           $("#icon").change(function(){
             readURL(this);
           });
          });
        </script>

        <div class="field form-group">
          <%= form.label :name %>　<span class="badge badge-danger">必須</span>
          <%= form.text_field :name, class: 'form-control', id: 'user' %>
        </div>

        <div class="field form-group">
          <%= form.label :email %>　<span class="badge badge-danger">必須</span>
          <%= form.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label '電話番号' %>　<span class="badge badge-secondary">任意</span>
          <%= form.text_field :phone_number, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= form.label :user_place %>　<span class="badge badge-secondary">任意</span>
          <%= form.text_field :user_place, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= form.label :remark %>　<span class="badge badge-secondary">任意</span>
          <%= form.text_area :remark, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit '更新する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
