  <div class="row m-0 py-4 show">
    <div class="col-md-10">
      <h5 class="font-weight-bold">タイトル</h5>
      <h4><%= matter.title %></h4>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-10">
      <h5 class="font-weight-bold">要望内容</h5>
      <p><%= matter.content %></p>
      <% if matter.labels %>
        <p>
          <% matter.labels.each do |label| %>
            <span class="badge badge-info" ><%= label.name %></span>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-12">
      <h5 class="font-weight-bold">写真ファイル</h5>
      <% if matter.images.attached? %>
        <% matter.images.each do |image| %>
          <%=  link_to image, 'data-colorbox': image do %>
            <%= image_tag image.variant(resize:'100x100').processed  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if matter.images.present? %>
        <p>※クリックしたら拡大できます。</p>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row m-0 py-4 show">
    <div class="col-md-3">
      <h5 class="font-weight-bold">進捗状況:
        <% if matter.status == "未着手" %>
          <span class="badge badge-warning"><%= matter.status %></span>
        <% elsif matter.status == "工事中" %>
          <span class="badge badge-danger"><%= matter.status %></span>
        <% else %>
          <span class="badge badge-secondary"><%= matter.status %></span>
        <% end %>
        </h5>

    </div>

    <div class="col-md-3">
        <h5 class="font-weight-bold">緊急度:<span><%= matter.priority %></span></h5>
    </div>
  </div>

  <% if matter.address.present? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-10">
        <h5 class="font-weight-bold">要望箇所</h5>
        <p><%= matter.address %></p>
      </div>
    </div>
  <% end %>

  <% if matter.latitude.present? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-4">
        <h5 class="font-weight-bold">緯度</h5>
        <p><%= matter.latitude %></p>
      </div>

      <div class="col-md-4">
        <h5 class="font-weight-bold">経度</h5>
        <p><%= matter.longitude %></p>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <% if matter.start_time? %>
      <div class="row m-0 py-4 show">
        <div class="col-md-4">
          <h5 class="font-weight-bold">工事開始日</h5>
          <p><%= matter.start_time %></p>
        </div>
    <% end %>
    <% if matter.end_time? %>
        <div class="col-md-3">
          <h5 class="font-weight-bold">工事終了日</h5>
          <p><%= matter.end_time %></p>
        </div>
      </div>
    <% end %>

    <% if matter.remark? %>
      <div class="row m-0 py-4 show">
        <div class="col-md-10">
          <h5 class="font-weight-bold">備考</h5>
          <p><%= matter.remark %></p>
        </div>
      </div>
    <% end %>
  <% end %>
