
  <%= search_form_for search do |f| %>
    <%= f.label :title_cont, 'タイトル' %>
    <br>
    <%= f.text_field :title_cont %>
    <br>
    <%= f.label :status_eq, 'ステータス' %>
    <br>
    <%= f.select :status_eq, [["未着手"],["工事中"],["工事完了"]], include_blank: "選択してください" %>
    <br>
    <%= f.label :created_at_gteq, '日付' %>
    <br>
    <%= f.date_field :created_at_gteq %>
    <br>

    <%= f.label :created_at_lteq, '〜' %>
    <%= f.date_field :created_at_lteq %>
    <br>
    
    <div>
      <%= f.submit '検索する' %>
    </div>
  <% end %>
  <%= search_form_for @search do |f| %>
  <div>
    <%= f.submit 'リセット' %>
  </div>
  <% end %>
