<p id="notice"><%= notice %></p>


  <div class="row m-0 py-4 show">
    <div class="col-md-10">
      <h5>Title</h5>
      <h4><%= matter.title %></h4>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-10">
      <h5>Content</h5>
      <p><%= matter.content %></p>
    </div>
  </div>

  <div class="row m-0 py-4 show m-0 py-4">
    <div class="col-md-12">
      <h5>Image</h5>
      <% if matter.images.attached? %>
        <% matter.images.each do |image| %>
          <%=  link_to image, 'data-lightbox': image do %>
            <%= image_tag image.variant(resize:'100x100').processed  %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if matter.images.present? %>
        <p>※クリックしたら拡大できます。</p>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row m-0 py-4 show">
    <div class="col-md-3">
      <h5>Status:<span><%= matter.status %></span></h5>
    </div>

    <div class="col-md-3">
        <h5>Priority:<span><%= matter.priority %></span></h5>
    </div>
  </div>

  <% if matter.address.present? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-10">
        <h5>Address:</h5>
        <p><%= matter.address %></p>
      </div>
    </div>
  <% end %>

  <% if matter.latitude.present? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-4">
        <h5>Latitude:</h5>
        <p><%= matter.latitude %></p>
      </div>

      <div class="col-md-4">
        <h5>Longtitude:</h5>
        <p><%= matter.longitude %></p>
      </div>
    </div>
    <% end %>
  <% if matter.labels.present? %>
    <div class="row m-0 py-4 show">
      <div class="col-md-12">
        <p>
          <% matter.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <% if matter.start_time.present? %>
      <div class="row m-0 py-4 show">
        <div class="col-md-4">
          <h5>StartDate:</h5>
          <p><%= matter.start_time %></p>
        </div>
    <% end %>
    <% if matter.end_time.present? %>
        <div class="col-md-3">
          <h5>EndDate:</h5>
          <p><%= matter.end_time %></p>
        </div>
      </div>
    <% end %>

    <% if matter.remark.present? %>
      <div class="row m-0 py-4 show">
        <div class="col-md-10">
          <h5>Remark:</h5>
          <p><%= matter.remark %></p>
        </div>
      </div>
    <% end %>
  <% end %>
