<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= matter.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= matter.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= matter.address %>
</p>

<p>
  <strong>Priority:</strong>
  <%= matter.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= matter.status %>
</p>

<% if matter.images.attached? %>
  <% matter.images.each do |image| %>
    <%= image_tag image.variant(resize:'50x50').processed %>
  <% end %>
<% end %>

<p>
  <strong>Latitude:</strong>
  <%= matter.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= matter.longitude %>
</p>

<% if current_user.admin? %>
  <p>
    <strong>StartDate:</strong>
    <%= matter.start_time %>
  </p>

  <p>
    <strong>EndDate:</strong>
    <%= matter.end_time %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= matter.remark %>
  </p>
<% end %>

<br>
