<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= matter.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= matter.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= matter.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= matter.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= matter.longitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= matter.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= matter.priority %>
</p>

<p>
  <strong>StartDate:</strong>
  <%= matter.start_time %>
</p>

<p>
  <strong>CompletionDate:</strong>
  <%= matter.end_time %>
</p>

<% if matter.images.attached? %>
  <% matter.images.each do |image| %>
    <%= image_tag image.variant(resize:'50x50').processed %>
  <% end %>
<% end %>
<br>
