<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_field :phone_number, autofocus: true %>
</div>

<div class="field">
  <%= f.label :user_address %><br />
  <%= f.text_field :user_address, autofocus: true %>
</div>

<div class="field">
  <%= f.label :user_image %><br />
  <%= f.text_field :user_image, autofocus: true %>
</div>
