
<h1>about me</h1>

<h3>ユーザ画像</h3>
<%= user.user_image %>
<h3>ユーザー名</h3>
<%= user.name %>
<h3>メールアドレス</h3>
<%= user.email %>
<h3>電話番号</h3>
<%= user.phone_number%>
<h3>住所</h3>
<%= user.user_address%>
<h3>備考</h3>
<%= user.remark%>
