<div class="card mx-auto mt-3" style="max-width: 25rem;">
  <div class="card-header bg-color p-0 border border-top-0">
    ユーザー情報
    <span class="float-right">
      <%= link_to edit_path do %>
        <i class="fas fa-edit" id="edit_user"></i>
      <% end %>
    </span>
  </div>
  <%= image_tag set_image(@user.icon, 'default.png'), class: 'icon mx-auto', size: '90x90' %>
  <div class="card-body">
    <h4 class="card-title"><%= user.name %></h4>
  </div>

  <div class="card-body">
    <h6>メールアドレス:</h6>
    <p class="card-text"><%= user.email %></p>
  </div>

  <div class="card-body">
    <h6>電話番号:</h6>
    <p class="card-text"><%= user.phone_number%></p>
  </div>

  <div class="card-body">
    <h6>住所:</h6>
    <p class="card-text"><%= user.user_place%></p>
  </div>

  <div class="card-body">
    <h6>備考:</h6>
    <p class="card-text"><%= user.remark%></p>
  </div>
  <% if user.admin? %>
    <div class="card-body">
      <h6 class="badge badge-info">管理者</h6>
    </div>
  <% end %>
</div>

<div class="conteiner">
  <div class="row mt-4">
    <div class="col-8  mx-auto">
      <% if @user.matters.present? %>
      <h3><%= user.name %>の案件</h3>
      <% end %>
      <table>
        <tbody>
          <% @user.matters.each do |matter| %>
            <% if matter.status == "未着手" %>
              <tr class="matter bg-warning">
            <% elsif matter.status =="工事中" %>
              <tr class="matter bg-danger">
            <% else %>
              <tr class="matter bg-secondary">
            <% end %>
                <td width="7%"><%= image_tag set_image(matter.user.icon, 'default.png'), class: 'icon mx-auto', size: '48x48' %></td>
                <td width="34%" ><%= matter.content.truncate(20) %></td>
                <td width="10%" class="text-center"><%= matter.status %></td>
                <td id='priority_row' width="5%" class="text-center"><%= matter.priority %></td>
                <td width="15%" class="text-center"><%= matter.created_at.strftime('%Y/%m/%d') %></td>
                <td width="2%"><i class="fas fa-thumbs-up fa-2x"></i></td>
                <td width="2%"><%= matter.favorites.count %></td>
                <td width="2%">
                  <%= link_to matter do%>
                    <i class="fas fa-file-alt fa-2x"></i>
                    <% end %>
                </td>
                <% if (matter.user_id == current_user.id) || (current_user.admin == true) %>
                  <% if (matter.latest_sender != current_user.name) && (matter.latest_sender != nil) %>
                    <td width="3%" class="bg-color"><i class="far fa-envelope fa-2x"></i></td>
                  <% end %>
                <% else %>
                    <td width="3%" class="bg-color"></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
