<!DOCTYPE html>
<html>
  <head>
    <title>FixHere!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </head>
  <body id="wrapper">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-color">
        <%= link_to root_path, class: 'navbar-brand text-primary' do %>
          <i class="fas fa-drafting-compass">FIX HERE!</i>
        <% end %>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to  matters_path, class: 'nav-link text-primary'  do %>
                    <i class="fas fa-tasks"></i>案件一覧
                  <% end %>
                </li><span class="sr-only">(current)</span>
                <% if current_user.admin? %>
                  <li class="nav-item">
                    <%= link_to  admin_users_path, class: 'nav-link text-primary' do %>
                      <i class="fas fa-users"></i>ユーザー覧
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to admin_matters_path, class: 'nav-link text-primary' do %>
                      <i class="fas fa-user-shield"></i>管理者画面
                    <% end %>
                  </li>
                <% end %>
              <% end %>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <% if current_user.admin? %>
                  <%= link_to conversations_path, class: 'nav-link text-primary'  do %>
                    <i class="fas fa-phone"></i>お問い合わせ
                  <% end %>
                <% else %>
                  <%= link_to conversations_path(sender_id: current_user.id, recipient_id: 1), method: :post, class: 'nav-link text-primary'  do %>
                    <i class="fas fa-phone"></i>お問い合わせ
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-primary' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
              <li>
                <%= link_to users_show_path(current_user.id), class: 'nav-link text-primary' do %>
                  <i class="fas fa-user"></i><%= current_user.name %>
                <% end %>
              </li>
              <button type="button" class="btn btn-primary nav-item nav-link float-color ml-3 text-white" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-bell"></i>通知
                <span class="badge badge-light">
                  <% notifications = get_notifications.where.not(visitor_id: current_user.id) %>
                    <% if current_user.admin? %>
                      <%= notifications.where(admin_checked: false).present? ? notifications.where(admin_checked: false).length : 0  %>
                    <% else %>
                      <%= notifications.where(checked: false).present? ? notifications.where(checked: false).length : 0 %>
                    <% end %>
                </span>
              </button>
            <% else %>
            <li>
              <%= link_to  new_user_session_path, class: 'nav-link text-primary' do %>
                <i class="fas fa-sign-in-alt"></i>ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: 'nav-link text-primary' do %>
                <i class="fas fa-user-plus"></i>新規登録
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">通知</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% if notifications.present?  %>
                  <%= render partial: 'notifications/notification', locals: { notifications: notifications} %>
                  <%= paginate notifications %>
                <% else %>
                  <p>通知はありません</p>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if notice %>
        <div class="container mt-3">
          <div class="alert alert-success">
              <p><%= notice %></p>
          </div>
        </div>
      <% end %>
      <% if alert %>
      <div class="container mt-3">
        <div class="alert alert-danger">
            <p><%= alert %></p>
        </div>
      </div>
      <% end %>
        <%= yield %>
    </main>
    <footer>
      <div class="text-center footer mt-5">
        <p class="m-0 mt-3"><i class="fas fa-drafting-compass">FIX HERE!</i></p>
        <p class="m-0"><small>©️Ryohei Udagawa</small></p>
      </div>
    </footer>
  </body>
</html>
